@font-face {
  font-family: "Inter-Thin";
  src: url(./Inter-Thin.woff2);
}

@font-face {
  font-family: "Inter-Light";
  src: url(./Inter-Light.woff2);
}

@font-face {
  font-family: "Inter-Regular";
  src: url(./Inter-Regular.woff2);
}

@font-face {
  font-family: "Inter-Medium";
  src: url(./Inter-Medium.woff2);
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url(./Inter-SemiBold.woff2);
}

@font-face {
  font-family: "Inter-Bold";
  src: url(./Inter-Bold.woff2);
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url(./Inter-ExtraBold.woff2);
}

@font-face {
  font-family: "Inter-Black";
  src: url(./Inter-Black.woff2);
}
