@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1260px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility container {
  @apply mx-auto;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-ic {
  @apply flex items-center;
}

@utility flex-between {
  @apply flex items-center grow justify-between;
}

@utility flex-col-center {
  @apply flex items-center justify-center flex-col;
}

@utility flex-col-between {
  @apply flex h-full flex-col justify-between;
}
